.lista-arrastar-soltar > div
    background: #2196F3
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1)
    height: 40px
    line-height: 40px
    margin-bottom: 8px
    transition: margin-top 0.4s
    width: 300px

.lista-arrastar-soltar > div.acima
    margin-top: calc(40 + 16)px
